<div class="container shadow">
  <header class="text-center pt-3">
    <img class="w-20"id="header-img" src="img/burgerheader.png">
    <h3 class="mt-3" id="header-title">Eat-Da-Burger!</h3>
  </header>

  {{!-- burger input --}}
  <div class="row">
    <div class="col-sm-12 text-center">
      <textarea placeholder="What burger do you want?" rows="3" class="text-center"
        id="new-burger"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="insert btn btn-success mt-3" id="submit-btn" type="submit">Order</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p id="hint">Enter a burger you want to eat<br>
        Click the "Order" button.</p>
    </div>
  </div>

  <div class="row d-flex justify-content-between">

    {{!-- left: burger to be devoured --}}
    <div class="col-sm-12 col-md-6 left">
      <h5>Your Burger:</h5>
      <ul class="list-group shadow-sm burger-container">
        {{!-- <span class="burger-container"> --}}
          {{#each burgers}}
          {{/each}}
         {{!-- </span> --}}
      </ul>
    </div>

    {{!-- right: burger devoured --}}
    <div class="col-sm-12 col-md-6 right">
      <h5>Devoured Burger:</h5>
      <ul class="list-group shadow-sm devoured-container">
        {{!-- <span class="devoured-container"> --}}
          {{#each burgers}}
          {{/each}}
        {{!-- </span> --}}
      </ul>
    </div> 
  </div>
</div>

<script src="./js/frontendscript.js"></script>

{{!-- {{#if true}}
              {{>burger/burger-block devoured=true}}
            {{/if}} --}}