<div class="container shadow">
  <header class="text-center pt-3">
    <img class="w-20"id="header-img" src="img/burgerheader.png">
    <h3 class="mt-3" id="header-title">Eat-Da-Burger!</h3>
  </header>

  {{!-- burger input --}}
  <div class="row">
    <div class="col-sm-12 text-center">
      <textarea placeholder="What burger do you want?" rows="3" class="text-center"
        id="new-burger"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="insert btn btn-success mt-3" id="submit-btn" type="submit">Order</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p id="hint">Enter a burger you want to eat<br>
        Click the "Order" button.</p>
    </div>
  </div>

  <div class="row d-flex justify-content-between">
    {{!-- left: burger to be devoured --}}
    <div class="col-sm-12 col-md-6">
      <h5>Your Burger:</h5>
      <ul class="list-group shadow-sm burger-list">
        <span class="burger-container">
          {{#each burgers}}
            {{!-- {{#unless devoured}}
              {{>burger/burger-block devoured=false}}
            {{/if}} --}}
          {{/each}}
         </span>
      </ul>
    </div>

    {{!-- right: burger devoured --}}
    <div class="col-sm-12 col-md-6">
      <h5>Devoured Burger:</h5>
      <ul class="list-group shadow-sm">
        <span class="devoured-burgers-container">
          {{#each burgers}}
            {{!-- {{#if true}}
              {{>burger/burger-block devoured=true}}
            {{/if}} --}}
          {{/each}}
        </span>
      </ul>
    </div> 
  </div>
</div>

<script src="./js/frontendscript.js"></script>

{{!-- 

<form id="add-burger">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Submit</button>
</form>
<h4>Enter a burger you want to eat!</h4>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
      </p>
    </li>
  {{/each}}
</ul>

<script src="script.js"></script> --}}