<header class="text-center">
  <img id="header-img" src="img/burgerheader.png">
  <h3 id="header-title">Eat-Da-Burger!</h3>
</header>

<div class="container">
  <div class="row">
    {{!-- left: burger to be devoured --}}
    <div class="col-sm-12 col-md-6">
      <ul class="list-group burger-list">
        <li class="list-group-item new-burger">

        </li>
        <span class="burger-container"> </span>
      </ul>
    </div>

     {{!-- right: burger devoured --}}
    <div class="col-sm-12 col-md-6">
      <ul class="list-group burger-list">
        <span class="burger-devoured"> </span>
      </ul>
    </div>
      
  </div>

  {{!-- burger input --}}
  <div class="row">
    <div class="col-sm-12 text-center">
      <textarea placeholder="What kind of burger would you like?" rows="5" class="text-center"
        id="burger-input"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-danger submit-btn" type="submit">Submit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p id="hint">Enter a burger you want to eat<br>
        Click the "Submit" button.</p>
    </div>
  </div>

</div>

<script src="./js/frontendscript.js"></script>

{{!-- 

<form id="add-burger">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Submit</button>
</form>
<h4>Enter a burger you want to eat!</h4>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
      </p>
    </li>
  {{/each}}
</ul>

<script src="script.js"></script> --}}