* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #FCC64F;
}
.container{
  background-color: #fef0d5;
  min-height: 100vh;
}
/* #header-img{
  width: 20%;
} */
#header-title{
  color: #d21e1e;
  /* margin-top: 20px; */
}
textarea{
  margin-top: 15px;
  width: 50%;
  padding-top: 20px;
}
/* .submit-btn{
  margin-top: 10px;
} */
#hint{
  font-size: 12px;
  margin-top: 5px;
}
.burger-item{
  background-color: white;
  width: 60%;
  padding: 30px auto;
  margin-bottom: 0px;
}
.devour-row{
  background-color: lightgray;
}
.devour-burger{
  padding: auto 10px;
  margin: 0;
}
.devour-row{
  border: 1px solid red;
}
button.delete{
  border: 1px solid black;
}
.btn {
  background-color: #d5e3fe;
  border-color: #a3c2fd;
  color: black;
}
.btn:hover {
  background-color: #a3c2fd;
  border-color: #a3c2fd;
}
