* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #FCC64F;
}
header{
  margin-top: 20px;
}
#header-img{
  width: 10%;
}
#header-title{
  color: #d21e1e;
  margin-top: 20px;
}
textarea{
  margin-top: 15px;
  width: 50%;
  padding-top: 20px;
}
.line{
  border-bottom: 1px solid black;
}
.submit-btn{
  margin-top: 10px;
}
#hint{
  font-size: 12px;
  margin-top: 5px;
}
.burger-item{
  background-color: white;
  width: 60%;
  padding: 30px auto;
  margin-bottom: 0px;
}
button{
  padding: 5px 5px;
  border: none;
}
.devour-row{
  background-color: lightgray;
}
.devour-burger{
  padding: auto 10px;
  margin: 0;
}
.devour-row{
  border: 1px solid red;
}
.delete-btn{
  border: 1px solid black;
}
